@font-face {
  font-family: 'thaisans_neueregular';
  src: url('../font/thaisansneue-semibold-webfont.woff') format('woff2'),
       url('../font/thaisansneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
  background-image: url("../assest/Mask\ Group\ 91_2022-08-22/Mask Group 91.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-1{
  margin: auto;
  width: fit-content;
  padding: 10px;
  padding-top: 50px;
}

.logo-2{
  margin: auto;
  width: 276px;
  height: 112px;
  padding-bottom: 20px;
}

.logo-3{
  width: 137px;
  height: 43px;
  margin: auto;
}

.text-1{
  font-family: 'thaisans_neueregular',sans-serif;
  font-size: 50px;
  text-align: center;
}

.text-2{
  font-family: 'thaisans_neueregular',sans-serif;
  font-size: xx-large;
  text-align: center;
  margin-bottom: 50px;
}

.text-3{
  font-family: 'thaisans_neueregular',sans-serif;
  font-size: x-large;
  text-align: center;
}

.text-4{
  font-family: 'thaisans_neueregular',sans-serif , bold;
  font-size: x-large;
  margin-left: 5%;
  color: #566573;
  margin-top: 55px;
}

.container{
  backdrop-filter: blur(25px);
}

.footer{
  align-items: center;
  background-color: #424949;
  color: white;
  width: auto;
}

#check{
  width: 45%;
  margin: auto;
  border: 1px solid white;
  border-radius: 10px;
  width: fit-content;
  padding: 1rem;
  margin-bottom: 40px;
}

.check-items{
  border: 1px solid gray;
  border-radius: 30px;
  padding: 2rem;
  font-family: 'thaisans_neueregular',sans-serif;
  font-size: 25px;
  height: 20px;
  margin-left: 15rem;
  vertical-align: middle;
}

.img-check{
  width: 137px;
  height: 43px;
  margin-bottom: 20px;
  margin: auto;
  width: max-content;
}

.icon{
  float: right;
  padding: 2px;
  margin-right: 1%;
}